<header id="header">
    <!-- <div>
        <a href="{{URL}}">
            <img src="{{URL}}/resources/images/logos/logo-impusic.png" alt="Logo">
        </a>
    </div>
    <div id="itens">
        <ul>
            <a href="a">
                <li>Lorem</li>
            </a>

            <a href="b">
                <li>Ipsum</li>
            </a>

            <a href="c">
                <li>Register</li>
            </a>

            <li class="buttons login">
                <button onclick="openForm('loginForm')">Entrar</button>
            </li>

            <li class="buttons">
                <button onclick="openForm('registerForm')">Cadastrar-se</button>
            </li>
        </ul>
    </div> -->

    <div id="itens">
        <ul>
            <a href="">
                <li>TESTE</li>
            </a>

            <a href="">
                <li>TESTE</li>
            </a>

            <a href="">
                <li>TESTE</li>
            </a>
        </ul>
    </div>

    <div id="search">
        <div>
            <input type="text" name="search" id="search" placeholder="Pesquise por um vídeo" >
            <label for="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </div>
        <!-- <input type="text" id="search" placeholder="Pesquise por um vídeo">
        <label for="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </label> -->
    </div>
</header>