<div class="loginMenu" id="loginForm">
    <form method="post" action="login">
        <div class="close" onclick="closeForm('loginForm')">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <h1>Entrar na sua conta:</h1>
        
        <div class="inputBox">
            <label for="">Usuário</label>
            <input name="email" required type="text" placeholder="Digite aqui o nome do seu usuário" />
        </div>

        <br>

        <div class="inputBox">
            <label for="">Senha</label>
            <input name="password" required type="password" placeholder="Escreva aqui corretamente sua senha" />
        </div>

        <br>

        <div class="publishButton publishButtonDisabled">
            <button type="submit">Entrar</button>
        </div>
    </form>
</div>