<div class="hero">
    <div class="social">
        <a href="" title="SoundCloud">
            <i class="fa-brands fa-soundcloud"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-spotify"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-discord"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>
<div class="profileInfo">
    <img src="{{URL}}/resources/images/logos/logo-impusic-bg.png" alt="">
    <h1>{{name}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing... <a href="">Veja Mais.</a></p>
    
    <div class="settings">
        <button class="follow">SEGUIR</button>
        <button class="more"><i class="fa-solid fa-chevron-down"></i></button>
    </div>
</div>