<div class="hero">
    <div class="social">
        <a href="" title="SoundCloud">
            <i class="fa-brands fa-soundcloud"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-spotify"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-discord"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>
<div class="profileInfo">
    <img src="{{URL}}/resources/images/logos/logo-impusic-bg.png" alt="">
    <h1>{{name}}</h1>
    <p>{{description}} <a href="">{{seeMore}}</a></p>
    
    <div class="settings">
        {{follow}}
    </div>
</div>

<div class="spaceProfile"></div>

<div class="hr"></div>

<div class="profileVideos">
    <div class="videoContainer">
        <img src="https://via.placeholder.com/1920x1080" alt="">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, voluptatum? Corporis sunt sed et quasi dignissimos? Optio, architecto ex omnis, repellendus unde incidunt, voluptatum dolore assumenda est enim recusandae fugit!</h1>
        <h2>
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>
        </h2>
        <h3>2.000 visualizações - Há 4 horas</h3>
    </div>

    <div class="videoContainer">
        <img src="https://via.placeholder.com/1920x1080" alt="">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, voluptatum? Corporis sunt sed et quasi dignissimos? Optio, architecto ex omnis, repellendus unde incidunt, voluptatum dolore assumenda est enim recusandae fugit!</h1>
        <h2>
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>
        </h2>
        <h3>2.000 visualizações - Há 4 horas</h3>
    </div>

    <div class="videoContainer">
        <img src="https://via.placeholder.com/1920x1080" alt="">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, voluptatum? Corporis sunt sed et quasi dignissimos? Optio, architecto ex omnis, repellendus unde incidunt, voluptatum dolore assumenda est enim recusandae fugit!</h1>
        <h2>
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>,
            <a href="">Gustavo</a>
        </h2>
        <h3>2.000 visualizações - Há 4 horas</h3>
    </div>
</div>