<div class="loginMenu" id="registerForm">
    <form method="post" action="register">
        <div class="close" onclick="closeForm('registerForm')">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <h1>Registrar uma conta:</h1>
        
        <div class="inputBox">
            <label for="">Nome</label>
            <input name="name" required type="text" placeholder="Digite aqui o seu nome" />
        </div>

        <br>

        <div class="inputBox">
            <label for="">Nome de usuário (nome único)</label>
            <input name="user" required type="text" placeholder="Digite aqui o seu nome de usuário" />
        </div>

        <br>

        <div class="inputBox">
            <label for="">Email</label>
            <input name="email" required type="email" placeholder="Digite aqui seu email" />
        </div>

        <br>

        <div class="inputBox">
            <label for="">Senha</label>
            <input name="password" required type="password" placeholder="Escreva aqui corretamente sua senha" />
        </div>

        <br>

        <div class="publishButton publishButtonDisabled">
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>