<!-- PLAYER DE VÍDEO -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />
<script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>


<div class="videoContainer">
    <div class="videoPlayer">
        <div>
            <video id="player" playsinline controls autoplay data-poster="/path/to/poster.jpg">
                <source src="https://d3iltpz9q3tbnd.cloudfront.net/{{video}}%0A-video" type="video/mp4" />
            </video>
        </div>
        <div class="header">
            <h1 id="videoTitle">{{title}}</h1>
            <span>
                <p><i class="fa-solid fa-angle-up"></i> <span id="likes">0</span></p>
            </span>
            <h2>{{description}}</h2>
        </div>
    </div>
    <div>
        <div class="comments">
            <div class="headerComments">
                <h1>
                    <span>
                        <i class="fa-solid fa-message"></i>
                    </span>
                    <p>0</p>
                </h1>
            </div>

            <div>
                <div class="commentInput">
                    <img src="https://via.placeholder.com/500?text=LOGO" alt="">
                    <input type="text" placeholder="Adicione um comentário...">
                    <button>Enviar</button>
                </div>
            </div>

            <br>

            <div class="commentBox">
                <img src="https://via.placeholder.com/500?text=LOGO" alt="">
                <div>
                    <h1>Name Person</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur mollitia numquam sapiente ratione dignissimos nisi aperiam quasi odio totam deleniti, doloremque, a error quaerat eum dolorum temporibus ipsa voluptatum.</p>
                </div>
            </div>

            <div class="commentBox">
                <img src="https://via.placeholder.com/500?text=LOGO" alt="">
                <div>
                    <h1>Name Person</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur mollitia numquam sapiente ratione dignissimos nisi aperiam quasi odio totam deleniti, doloremque, a error quaerat eum dolorum temporibus ipsa voluptatum.</p>
                </div>
            </div>

            <div class="commentBox">
                <img src="https://via.placeholder.com/500?text=LOGO" alt="">
                <div>
                    <h1>Name Person</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur mollitia numquam sapiente ratione dignissimos nisi aperiam quasi odio totam deleniti, doloremque, a error quaerat eum dolorum temporibus ipsa voluptatum.</p>
                </div>
            </div>

            <div class="commentBox">
                <img src="https://via.placeholder.com/500?text=LOGO" alt="">
                <div>
                    <h1>Name Person</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur mollitia numquam sapiente ratione dignissimos nisi aperiam quasi odio totam deleniti, doloremque, a error quaerat eum dolorum temporibus ipsa voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
</div>