<footer>
    <div>
        <h1>Lorem Ipsum</h1>
        <div class="footer-hr"></div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem obcaecati ipsam enim eos ab est esse facilis quibusdam unde sint, aspernatur molestias, architecto iure iste sed similique. Libero, sed repellendus?</p>
    </div>
    
    <div>
        <h1>Lorem Ipsum</h1>
        <div class="footer-hr"></div>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
    
    <div>
        <h1>Lorem Ipsum</h1>
        <div class="footer-hr"></div>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
    
    <div>
        <h1>Lorem Ipsum</h1>
        <div class="footer-hr"></div>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
        <a href="">Lorem Ipsum</a>
    </div>
</footer>
<div class="copy">&copy; 2022 Copyright - All Rights Reserved</div>