<style>
    .hero{
        background-image: url('{{URL}}/resources/images/banner-1.png'), linear-gradient(146deg, rgba(14,14,14,1) 0%, rgba(119,119,119,0.3249008221452644) 100%);
    }
</style>
<div class="hero">
    <div>
        <h1>Lorem ipsum!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ducimus dignissimos voluptatibus, officia laborum, itaque obcaecati rerum, accusantium nisi reprehenderit recusandae accusamus asperiores voluptate. Modi nihil beatae nesciunt doloribus omnis?</p>
    </div>
</div>